<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Latest News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">news</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-card>
  --ion-background-color:#111D12;
  <ion-card-header>
    <ion-card-title>Breaking News</ion-card-title>
    <ion-card-subtitle>Follow Live</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
  Latest News and Sports Headlines
  </ion-card-content>
</ion-card>


